<app-preloader *ngIf="swService.isFetching" class="overlay"></app-preloader>
<div *ngIf="!swService.isFetching && swService.currentPage" class="info-container">
  <h1 class="info-title">Star Wars Heroes</h1>
  <div class="hero-info">
    <div>
      <img class="hero-avatar" [src]="swService.avatars[swService.currentIndex]" alt="Avatar" />
      <div class="control-buttons">
        <button
          (click) = "onPrevButtonClick()"
          [disabled]="swService.currentIndex === 0 && !swService.pagesData.previous"
        >
          Prev
        </button>
        <button (click) = "onNextButtonClick()">Next</button>
      </div>
    </div>
    <div>
      <span class="info-cell">Name: {{swService.currentPage[swService.currentIndex].name}}</span>
      <span class="info-cell">Height: {{swService.currentPage[swService.currentIndex].height}} m</span>
      <span class="info-cell">Mass: {{swService.currentPage[swService.currentIndex].mass}} kg</span>
      <span class="info-cell">Hair Color: {{swService.currentPage[swService.currentIndex].hair_color}}</span>
      <span class="info-cell">Skin Color: {{swService.currentPage[swService.currentIndex].skin_color}}</span>
      <span class="info-cell">Eye Color: {{swService.currentPage[swService.currentIndex].eye_color}}</span>
      <span class="info-cell">Birth Year: {{swService.currentPage[swService.currentIndex].birth_year}}</span>
      <span class="info-cell">Gender: {{swService.currentPage[swService.currentIndex].gender}}</span>
    </div>
    <app-preloader *ngIf="swService.isFetchingFilms" class="overlay small-preloader"></app-preloader>
    <ul *ngIf="!swService.isFetchingFilms && swService.films">
      <li *ngFor="let film of swService.films" class="info-cell">
        Episode {{film.episode_id}}: {{film.title}}
      </li>
    </ul>
  </div>
</div>
