.header {
	display: flex;
	justify-content: center;
	padding: 10px;
	background: #212123;
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background: #FF4067;
	border-radius: 50%;
	margin-right: 15px;
	text-transform: uppercase;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.menu-link.menu-link-active,
.menu-link:hover {
  background: #FFF;
}

.menu-link.menu-link-active .icon,
.menu-link:hover .icon {
  fill: rgb(255, 64, 103);
}
