* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	position: relative;
	font-family: Arial, sans-serif;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.container > div {
  height: 100vh;
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(255, 255, 255, 0.7);
}

.overlay.small-preloader {
  width: 300px;
  height: auto;
  position: static;
}

.overlay.small-preloader .preloader {
  width: 100px;
}

.overlay.github-small-preloader,
.overlay.github-error {
  height: auto;
}

.overlay.github-error {
  flex-direction: column;
  background: #FFF;
}

.user-search-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	input {
		width: 275px;
		height: 27px;
		margin-bottom: 25px;
		border: none;
		text-indent: 10px;
		border-bottom: 1px solid #212123;
	}

	input::-webkit-input-placeholder {
		color: #CCC;
		font-size: 16px;
		font-style: italic;
		font-family: Arial, sans-serif;
	}
}

.btn {
	width: 145px;
	padding: 8px 12px;
	color: #FFF;
	border: 2px solid #FFF;
	background: #212123;
	font-size: 14px;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in;

	&:hover {
		color: #212123;
		background: #FFF;
		border: 2px solid #212123;
	}
}
